{%  extends 'yallaBlog/base.html' %}
{% block main_block %}

<!-- {% if user.is_authenticated%}
	<p>welcom {{user.username}}<p>
{% endif%} -->		

<div class="container cat-home">
  <div class="row">
        <div class="col-sm-9 col-md-6 col-lg-8" >
<h1>TOP POSTS</h1>
<ul>
	{% for p in  top_posts  %}
	<li class="large-header"> {{ p.title}} <br>
	<a href="/yallaBlog/post/{{p.id}}/show"><img src="../../static/{{p.image}}"/> </a></li>  <hr> 
		{% endfor%}

</ul>
</div>
     <div class="col-sm-3 col-md-6 col-lg-4   border-left" >

<h1>CATEGORY</h1>

<ul>
{% for c in  all_category  %}
	<li class="large-header">  <a href="http://127.0.0.1:8000/yallaBlog/cat/{{c.id}}/post">{{c.name}}</a> 
		{% if request.user.is_authenticated %}

                        {% if c in subscribedCats %}
                          <a href = "http://127.0.0.1:8000/yallaBlog/home/unsubscribe/{{c.id}}"> <button 
                           class="btn btn-primary btn-lg" type="button" >Un subscribe 
                          </button> </a>
                        {% else %}
                          <a href = "http://127.0.0.1:8000/yallaBlog/home/subscribe/{{c.id}}"> <button class="btn btn-primary btn-lg" type="button">Subscribe 
                          </button> </a>
                        {% endif %}

                   
                    {% endif %}
              
           {% endfor %}
      </li> 
   </ul>
    </div>
  </div>
</div>
    
	{% endblock %}