
{%  extends 'yallaBlog/base.html' %}
{% block main_block %}




<html>
<head>
	</head>
	<body>






<script>
            function YouBlock() {
                // if userblocked
                
                    alert("​ sorry you are blocked contact the admin​ ");
                // else "go to home page and change login by logout"
            }
        </script>






<center>
<table border="1" style="width:50%">
<tr>
</tr>
<tr>
</tr>
<tr>
</tr>
<tr>
</tr>

<br><br>
<br><br>
<br><br>
<tr>
<td>

<form method='POST'>{% csrf_token %}
   {{log_form.as_p}}
   
   	
</td>
</tr>


<tr>
<td>
	<center>
<button  type="sumbit" class="myButton" onclick="YouBlock();"  > sgin in  </button>
</center>
</td>
</tr>


</form>


</table>




<center>
<br><br>
<br><br>
<br><br>
{% endblock %}

