{%  extends 'adminUser/baseadmin.html' %}


{% block main_block %}

<div class="bg">
<div class="jumbotron" id="second" id="third">
<div class="overlay"></div>
<div class="container"> 
 <h1 class="text  glyphicon glyphicon-certificate"   > Hello, Admin!</h1>
  <p class="text">  This is your home page .. you can control all things in your web app here .. i hope you will be happy . Good morning </p>
  </div>
  
</div>
</div>



<div class="container">
<div class="row">
	
  <div class="col-sm-3 col-md-3">
  	
    <div class="thumbnail">
      <img  class="img-circle"src="/static/css/user.png"alt="..." width="200px" height="200px"/>
      <div class="caption">
        <h3 class="text-center"> user control</h3>
        
        <p class="text-center"><a href="/yallaBlog/adminlink/adminhome/user/" class="btn btn-primary" role="button">user control</a> </p>
      </div>
    </div>
  </div>



<div class="col-sm-3 col-md-3">


    <div class="thumbnail">
      <img class="img-circle" src="/static/css/cat.png" alt="..." width="200px" height="200px">
      <div class="caption">
        <h3 class="text-center">Category Control</h3>
        
        <p  class="text-center"><a href="http://127.0.0.1:8000/yallaBlog/adminlink/adminhome/category/" class="btn btn-primary" role="button">category control</a> </p>
      </div>
    </div>
  </div>



  <div class="col-sm-3 col-md-3">
  	
    <div class="thumbnail">
      <img class="img-circle" src="/static/css/post.png" alt="" width="200px" height="200px">
      <div class="caption">
        <h3 class="text-center">Post Control</h3>
        
        <p class="text-center"><a href="/yallaBlog/adminlink/adminhome/post/" class="btn btn-primary" role="button">Post Control</a> </p>
      </div>
    </div>
  </div>


<div class="col-sm-3 col-md-3">
  	
    <div class="thumbnail">
      <img class="img-circle" src="/static/css/warn.jpg" alt="" width="200px" height="200px">
      <div class="caption">
        <h3 class="text-center">Badword Control</h3>
        
        

<p class="text-center"><a href="/yallaBlog/adminlink/adminhome/badword/" class="btn btn-primary "  role="button">Badword Control</a> </p>

      </div>
    </div>
  </div>

</div>

</div>



<!-- 
<div class="cover">

 <div class="overlay  container">
	<h1 > hiiiiii esrrrrrrrrraaaa </h1>
	<p> iti track os </p>
</div>

</div>	 -->














{%  endblock %}