<!DOCTYPE html>

{% load staticfiles %}
<!-- {% static "" as base_url%} -->

<html>
<head>
	<title>djangoBlog</title>


<link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />



<script type="text/javascript"  src="static/node_modules/tether/dist/js/tether.js"></script>
<script type="text/javascript" src="static/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="static/node_modules/bootstrap/dist/js/bootstrap.js"></script>


</head>
<body>
{% include 'adminUser/header.html'%}

{% block main_block %}

{% endblock %}

</body>
</html>
